.radio {
  display: flex;
  justify-content: space-evenly;
}

.right {
  transform: translate(30%, 17%);
}

.navigation {
  position: sticky;
  top: 0px;
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: space-between;
  gap: 12px;
  align-items: center;
  box-shadow: 6px 5px 5px 1px rgba(243, 243, 245, 0.2);
  background-color: rgb(252, 252, 252);
  /* height: 15%;
  width: 97vw; */
  /* border: 0.2rem;
  border-style: solid; */
  border-radius: 5px;
  /* border-color: grey; */
  padding: 3%;
  margin-right: 12px;
  margin-left: 12px;
  /* grid-area: header; */
  z-index: 1;
}

.aside {
  display: flex;
  flex-direction: column;
  gap: 10px;

  /* height: 95vh; */
  /* max-width: 30%; */
  /* border: 0.2rem; */
  /* box-shadow: 6px 5px 5px 1px rgba(243, 243, 245, 0.2);
  background-color: rgb(252, 252, 252); */
  /* border-style: solid; */
  border-radius: 5px;
  /* border-color: grey; */
  padding: 10px;
  margin-left: 24px;
  margin-right: 12px;
  width: 25%;

  /* grid-area: sidebar; */
}
.card_project {
  border-radius: 5px;
  box-shadow: 6px 5px 5px 1px rgba(243, 243, 245, 0.2);
  background-color: rgb(252, 252, 252);
  padding: 12px;
  margin-left: 12px;
  margin-right: 12px;
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  flex-grow: 1;
}
.main {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  gap: 5px;
  height: 100%;
}

.footer {
  display: none;
  flex-direction: row;
  align-content: center;
  justify-content: space-between;
  gap: 12px;
  align-items: center;
  /* height: 15%;
    width: 97vw; */
  /* border: 0.2rem;
  border-style: solid; */
  border-radius: 5px;
  /* border-color: grey; */
  box-shadow: 6px 5px 5px 1px rgba(243, 243, 245, 0.2);
  background-color: rgb(245, 245, 245);
  padding: 3%12px;
  margin-left: 12px;
  margin-right: 12px;
  /* margin: 12px; */
  /* position: absolute;
  bottom: 4px; */
  width: 100%;
  /* flex-shrink: 0; */
  /* grid-area: header; */
}

.ul {
  display: flex;
  flex-direction: column;
  gap: 8px;
  list-style: none;
}

.funcbutton {
  border: none;
  background-color: rgb(65, 186, 56);
  padding: 8px;
  border-radius: 5px;
  width: 100%;
  color: white;
}
.funcbutton:hover {
  box-shadow: 3px 2px 8px 1px rgba(77, 77, 79, 0.2);
  opacity: 80%;
}
.button {
  border: none;
  background-color: rgb(241, 241, 243);
  padding: 12px;
  border-radius: 5px;
  width: 100%;
}
.button_logout {
  background-color: rgb(47, 123, 255);
  border: none;
  padding: 8px;
  border-radius: 5px;
  color: rgb(242, 242, 242);
}

.button_logout:hover {
  box-shadow: 3px 2px 8px 1px rgba(77, 77, 79, 0.2);
  opacity: 80%;
}

.button:hover {
  background-color: rgb(219, 230, 239);
  box-shadow: 3px 2px 8px 1px rgba(77, 77, 79, 0.2);
  opacity: 80%;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-bottom: 12px;
  font-style: italic;
  /* 
  
  */
}
.form input {
  padding: 6px;
  border-radius: 3px;
  border-width: 0.5px;
  min-width: 300px;
}

/* .description {
  display: inherit;
  justify-content: inherit;
  align-items: inherit;
  font-size: 0.85rem;
  max-width: var(--max-width);
  width: 100%;
  z-index: 2;
  font-family: var(--font-mono);
}

.description a {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.description p {
  position: relative;
  margin: 0;
  padding: 1rem;
  background-color: rgba(var(--callout-rgb), 0.5);
  border: 1px solid rgba(var(--callout-border-rgb), 0.3);
  border-radius: var(--border-radius);
}

.code {
  font-weight: 700;
  font-family: var(--font-mono);
}

.grid {
  display: grid;
  grid-template-columns: repeat(4, minmax(25%, auto));
  max-width: 100%;
  width: var(--max-width);
}

.card {
  padding: 1rem 1.2rem;
  border-radius: var(--border-radius);
  background: rgba(var(--card-rgb), 0);
  border: 1px solid rgba(var(--card-border-rgb), 0);
  transition: background 200ms, border 200ms;
}

.card span {
  display: inline-block;
  transition: transform 200ms;
}

.card h2 {
  font-weight: 600;
  margin-bottom: 0.7rem;
}

.card p {
  margin: 0;
  opacity: 0.6;
  font-size: 0.9rem;
  line-height: 1.5;
  max-width: 30ch;
  text-wrap: balance;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 4rem 0;
}

.center::before {
  background: var(--secondary-glow);
  border-radius: 50%;
  width: 480px;
  height: 360px;
  margin-left: -400px;
}

.center::after {
  background: var(--primary-glow);
  width: 240px;
  height: 180px;
  z-index: -1;
}

.center::before,
.center::after {
  content: "";
  left: 50%;
  position: absolute;
  filter: blur(45px);
  transform: translateZ(0);
}

.logo {
  position: relative;
}
/* Enable hover only on non-touch devices */
/* @media (hover: hover) and (pointer: fine) {
  .card:hover {
    background: rgba(var(--card-rgb), 0.1);
    border: 1px solid rgba(var(--card-border-rgb), 0.15);
  }

  .card:hover span {
    transform: translateX(4px);
  }
}

@media (prefers-reduced-motion) {
  .card:hover span {
    transform: none;
  }
}

/* Mobile */
/* @media (max-width: 700px) {
  .content {
    padding: 4rem;
  }

  .grid {
    grid-template-columns: 1fr;
    margin-bottom: 120px;
    max-width: 320px;
    text-align: center;
  }

  .card {
    padding: 1rem 2.5rem;
  }

  .card h2 {
    margin-bottom: 0.5rem;
  }

  .center {
    padding: 8rem 0 6rem;
  }

  .center::before {
    transform: none;
    height: 300px;
  }

  .description {
    font-size: 0.8rem;
  }

  .description a {
    padding: 1rem;
  }

  .description p,
  .description div {
    display: flex;
    justify-content: center;
    position: fixed;
    width: 100%;
  }

  .description p {
    align-items: center;
    inset: 0 0 auto;
    padding: 2rem 1rem 1.4rem;
    border-radius: 0;
    border: none;
    border-bottom: 1px solid rgba(var(--callout-border-rgb), 0.25);
    background: linear-gradient(
      to bottom,
      rgba(var(--background-start-rgb), 1),
      rgba(var(--callout-rgb), 0.5)
    );
    background-clip: padding-box;
    backdrop-filter: blur(24px);
  }

  .description div {
    align-items: flex-end;
    pointer-events: none;
    inset: auto 0 0;
    padding: 2rem;
    height: 200px;
    background: linear-gradient(
      to bottom,
      transparent 0%,
      rgb(var(--background-end-rgb)) 40%
    );
    z-index: 1;
  }
} */

/* Tablet and Smaller Desktop */
/* @media (min-width: 701px) and (max-width: 1120px) {
  .grid {
    grid-template-columns: repeat(2, 50%);
  }
}

@media (prefers-color-scheme: dark) {
  .vercelLogo {
    filter: invert(1);
  }

  .logo {
    filter: invert(1) drop-shadow(0 0 0.3rem #ffffff70);
  }
}

@keyframes rotate {
  from {
    transform: rotate(360deg);
  } 
  to {
    transform: rotate(0deg);
  }
}  */
